@media (min-width: 320px) and (max-width:480px){
    * {
         font-family: "Inter", sans-serif;
    }
    .header-nav {
        display: none;
    }
    .header-section {
        padding: 0 20px;
    }
    .hero-section {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 0;
        gap: 20px;
        background-color: ;
    }
    .hero-img {
        margin-top: 50px;
    }
    .hero-text h3,
    .hero-text .hero-highlight {
        display: none;
    }
    .hero-text .hero-title {
        display: block;
        text-align: center;
        font-size: 25px;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .hero-title span {
        color: #4CAF4F;
    }
    .hero-text p {
        color: #717171;
        font-size: 18px;
        margin-bottom: 20px;
        text-align: center;
    }
    .hero-btn {
        width: 100%;
    }
    .clients-section-info h3 {
        font-size: 35px;
        color: #4d4d4d;
        margin-bottom: 10px;
    }
    .clients-section-info p {
        font-size: 18px;
        color: #717171;
        margin-bottom: 30px;
    }
    .clients-section-img {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    .community-info h2 {
        color: #4d4d4d;
        font-size: 30px;
        font-weight: bold;
    }
    .community-membership {
        display: grid;
        gap: 20px;
    }
    .unlock-section {
        display: flex;
        align-items: center;
        margin-left: 70px;
        flex-direction: column;
    }
    .unlock-info {
        width: 400px;
    }
    .unlock-info h2 {
        font-weight: bold;
        font-size: 30px;
        color: #4d4d4d;
        margin-bottom: 20px;
    }
    .unlock-info p {
         margin-bottom: 40px;
        font-weight: bold;
        font-size: 17px;
        color: #717171;
    }
    .unlock-info button {
        width: 100%;
        font-size: 25px;
    }
    .achievements-section .wrapper {
        display: inline;
    }
    .achievements-section-info .achievements-section-title {
        color: #4d4d4d;
        font-size: 28px;
        line-height: 44px;
        font-weight: 600;
        width: 350px;
        text-align: left;
        margin-left: 20px;
    }
    .achievements-section-title span {
        color: #4caf4f;
        font-size: 28px;
        line-height: 44px;
        font-weight: 600;
}
    .achievements-section-info p {
        color: #18191f;
        font-size: 20px;
        opacity: ;
        margin-top: 15px;
        text-align: left;
        margin-left: 20px;
    }
    .achievements-icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 20px;
    }
    .calendar-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .calendar-info {
        width: 200px;
        margin-left: 0;
        margin-right: 150px;
    }
    .calendar-info h3 {
         font-weight: bold;
        font-size: 30px;
        color: #4d4d4d;
        margin-bottom: 20px;
        width: 400px;
    }
    .calendar-info p {
        width: 400px;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        color: #717171;
        margin-top: 15px;
    }
    .calendar-info button {
        width: 200%;
        padding: 14px 32px;
        border-radius: 4px;    
        font-size: 24px;
    }
    .customer-section .wrapper {
        display: flex;
        flex-direction: column;
    }
    .customer-img img {
        margin-right: 300px;
    }
    .customer-info .customer-1 {
        font-weight: 500;
        font-size: 18px;
        margin-left: 20px;
        margin-top: 0;
        color: #717171;
        width: 400px;
    }
    .customer-info .customer-2 {
        margin-left: 20px;
    }
    .customer-info .customer-3 {
        margin-left: 20px;
    }
    .customer-icons {
        display: block;
        margin-left:  50px;
        margin-bottom: 200px;
    }
    .customer-icons p {
        margin-left: 60px;
        margin-top: 40px;
    }
   .community-updates-info {
    margin-top: 250px;
    display: block;
   }
   .community-updates-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
   }
   .above-footer h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 76px;
    color: #263238;
    width: 400px;
   }
   .above-footer button {
    font-size: 25px;
   }
   .footer-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    align-items: center;
   }
   .links-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    gap: 20px;
   }
   .company-info {
    margin-left: 30px;
   }
   .footer-nav p {
    font-weight: 600;
    font-size: 30px;
    line-height: 28px;
    color: #ffffff;
   }
   .footer-nav-list {
    display: flex;
    align-items: center;
   }
   .footer-subscribe p {
    font-weight: 600;
    font-size: 30px;
    line-height: 28px;
    color: #ffffff;
   }
   .footer-nav-link {
    font-size: 25px;
    font-weight: normal;
   }
   .company-info {
    display: flex;
    align-items: center;
   }
}


