/* Mobile screens */
@media (min-width: 320px) and (max-width: 480px) {
  /* Vaqtinchalik navbarni invisible qilamiz. */
  .header-section {
    padding: 0 20px;
  }

  .header-nav {
    display: none;
  }

  .hero-section {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0px;
    gap: 20px;
  }

  .hero-img {
    margin-top: 50px;
  }

  .hero-text h3,
  .hero-text .hero-highlight {
    display: none;
  }

  .hero-text .hero-title {
    display: block;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .hero-text .hero-btn {
    width: 100%;
  }

  .hero-title span {
    color: #4caf4f;
  }

  .hero-text p {
    text-align: center;
  }

  .clients-section-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 10px;
  }
}
