* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
/* header section */
.header-section {
    background-color: #F5F7FA;
}
.nav-links {
    display: flex;
    gap: 50px;
    list-style-type: none;
    padding-top: 30px;
    padding-left: 150px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #18191F;
}
.header-nav{
    display: flex;
    gap: 100px;
}
.header-logo {
    padding-top: 30px;
    padding-left: 105px;
    gap: 8px;

}
.register {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding-top: 22px;
    padding-left: 105px;
}
.login-btn {
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    color: #4CAF4F;
    background-color: #F5F7FA;
}
.signup-btn {
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: #4CAF4F;
    color: white;
}
/* /header section */

/* hero section */
.hero-text .hero-highlight {
    font-weight: 600;
    font-size: 64px;
    line-height: 76px;
    color: #4CAF4F;
}
.hero-section {
    background-color: #F5F7FA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 96px 144px;
    height: 100vh;  
}
.hero-img {
    background-color: #F5F7FA;
}
.hero-text h2 {
    font-weight: 600;
    font-size: 64px;
    line-height: 76px;
    font-style: bold;
    margin-bottom: 10px;
    color: #4D4D4D;
}
.hero-text p {
    font-weight: 400;
    color: #717171;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
}
.hero-text .hero-btn {
    padding: 14px 32px;
    border-radius: 4px;
    background-color: #4CAF4F;
    border: none;
    color: white;
}
.nuqta {
    display: block;
    margin-left: 50%;
}
/* /hero section */

/*clients section */
.clients-section-info {
    text-align: center;
    margin-top: 30px;
}
.clients-section-info h3 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #4D4D4D;
    margin-bottom: 10px;
}
.clients-section-info p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #717171;
    margin-bottom: 30px;
}
.clients-section-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 50px;
}
/* /clients section */

/* community section */
.community-info {
    text-align: center;
}
.community-info h2 {
    color: #4d4d4d;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}
.community-info p {
    color: #717171;
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 15px;
}
.membership-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 32px;
}
.membership-wrapper h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #4D4D4D;
    margin-top: 10px;
}
.membership-wrapper p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #717171;
    margin: 0 auto;
    max-width: 250px;
    margin-top: 10px;
}
.community-membership {
    padding-right: 144px;
    padding-left: 144px;
    display: flex;
    gap: 30px;   
}

/* unlock section */
.unlock-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
}
.unlock-info h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #4D4D4D;
    width: 600px;
    margin-bottom: 20px;
}
.unlock-info p {
    margin-bottom: 40px;
    font-weight: 400px;
    font-size: 14px;
    line-height: 20px;
    color: #717171;
    width: 600px;
}
.unlock-info button {
    background-color: #4CAF4F;
    color: white;
    border: none;
    padding: 14px 32px;
    border-radius: 4px;
}
/* /unlock section */

/* achievements-section */
.achievements-section {
    background-color: #F5F7FA;
    display: flex;
    justify-content: space-between;
    padding: 64px 144px;
}
.achievements-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 40px;
    width: 50%;
}
.achievements-icon {
    display: flex;
    align-items: center;
    gap: 16px;
}
.achievements-section-info .highlight {
    color: #4CAF4F;
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
}
.achievements-section-info h2 {
    color: #4D4D4D;
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
}
.achievements-section-info p {
    color: #18191F;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 15px;
}
/* /achievements-section */
/* calendar-section */
.calendar-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
}
.calendar-info h3 {
    width: 600px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #4D4D4D;
}
.calendar-info p {
    width: 600px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #717171;
    margin-top: 15px;
}
.calendar-info button {
    background-color: #4CAF4F;
    color: white;
    border: none;
    padding: 14px 32px;
    border-radius: 4px;
    margin-top: 20px;
}
/* /calendar-section */

/* customer section */
.customer-img {
    width: 326px;
    height: 326px;
   
}
.customer-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.customer-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F5F7FA;
    gap: 24px;
    padding: 32px 144px;
}
.customer-info {
    width: 748px;
    height: 324px;
    gap: 32px;
    display: block;
    margin: 0 auto;
    max-width: 900px;
}
.customer-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    margin-top: 25px;
}
.customer-icons p {
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #4CAF4F;
}
.customer-info .customer-1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #717171;
}
.customer-info .customer-2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #4CAF4F;
    margin-top: 10px;
}
.customer-info .customer-3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #89939E;
    margin-top: 10px;
}
/* /customer section */

/* community-section */
.community-updates-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.community-updates-info h3 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #4D4D4D;
}
.community-updates-info p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #717171;
    max-width: 620px;
    text-align: center;
}
.card {
    display: inline;
    align-items: center;
}
.card-img {
    position: relative;
}
.card-body {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 8px;
    background-color: #F5F7FA;
    padding: 16px;
    width: 317px;
    height: 176px;
}
.card-body h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #717171;
}
.card-body a {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #4CAF4F;
    text-decoration: none;
}
/* /community-section */

/* footer-section */
.footer-section {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #F5F7FA;
}
.footer-section h2 {
    font-weight: 600;
    font-size: 64px;
    line-height: 76px;
    color: #263238;
}
.footer-section a {
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #4CAF4F;
    padding: 14px 32px;
    border-radius: 4px;
    text-decoration: none;
    margin-bottom: 0;
}
.footer-end-section {
    display: flex;
    gap: 200px;
    background-color: #263238;
    margin-top: 30px;
}
.footer-brand-img {
    margin-bottom: 40px;
}
.footer-brand p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #F5F7FA;
}
.footer-socials {
    display: flex;
    gap: 16px;
    margin-top: 40px;
}
.footer-nav ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 24px;
}
.footer-nav h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}
.footer-nav-list .footer-nav-link {
    color: #F5F7FA;
    text-decoration: none;
}
ul {
    list-style: none;
}
.footer-subscribe {
    
}
.footer-subscribe h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}
.footer-subscribe input {
    top: 52px;
    width: 255px;
    height: 40px;
    border-radius: 8px;
    opacity: 20%;
    color: #FFFFFF;
    margin-top: 24px;
}
.footer-subscribe input::placeholder {
    color: #D9DBE1;
}
.subscribe-btn {
}